<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	<session-factory>
		<property name="connection.connection_string">Server=localhost;initial catalog=nhibernate;Trusted_Connection=Yes</property>
		<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
		<property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
		<property name='proxyfactory.factory_class'>NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>

		<mapping assembly='Model'/>

		<listener type='post-insert' class='NHibernate.Search.Event.FullTextIndexEventListener, NHibernate.Search'/>
		<listener type='post-update' class='NHibernate.Search.Event.FullTextIndexEventListener, NHibernate.Search'/>
		<listener type='post-delete' class='NHibernate.Search.Event.FullTextIndexEventListener, NHibernate.Search'/>
		
	</session-factory>
</hibernate-configuration>